extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCarusel/_sCarusel.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sProd/_sProd.pug
include ../blocks/sStock/_sStock.pug
include ../blocks/sStockSlider/_sStockSlider.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu() 
	+header() 
		+topLine()

		+headerBlock()
	+sCarusel
	+sMap
	.row.g-0
		.col-md-6
			+sStock
		.col-md-6
			+sStockSlider
	+sProd
	+footer()


	