mixin sCarusel()
	// start sCarusel
	+b.SECTION.sCarusel.section#sCarusel&attributes(attributes) 
		+b.section-title.text-center
			h2 Подобрать технику для ваших задач:
			
		+e.slider--js.swiper-container
			.swiper-wrapper
				mixin slide(i,t)
					+e.slide.swiper-slide
						+e.item(href="#")
							img.object-fit-js.swiper-lazy(src="#" data-src=`img/@2x/slide-${i}.jpg`, alt="")
							+e.DIV.title
								span!= t
				+slide('1','Дорожное<br> строительство')
				+slide('2','Нефтегазовая<br> промышленность')
				+slide('3','Промышленное<br> строительство')
				+slide('4','Жилищное и коммунальное<br> строительство')
				+slide('4','Прокладка подземных<br> коммуникаций')
				+slide('4','Вскрышные работы')
				//- +slide('','')
			+arrow()
	// end sCarusel