mixin sStock()
	// start sStock
	+b.SECTION.sStock.bg-wrap.section#sStock&attributes(attributes) 
		img(src="img/@2x/stock.png", alt="")
		h2 
			strong ИНДВИДУАЛЬНЫЕ УСЛОВИЯ 
			| Лизинга для наших надежных машин!
		a.btn(href="#") 
			img(src="img/@2x/stock-i.png", alt="")
			| ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ 
			span >
	// end sStock